<div class="page-title">
	<h4>Edit Farm</h4>
</div>

<ul class="breadcrumb">
  <li><%= link_to 'Farms', farms_path %></li>
  <li><%= link_to @farm.name, @farm %></li>
  <li class="active">Edit Farm</li>
</ul>

<%= render 'form' %>