.jumbotron
  %h1
    %span{:style => "font-weight:500"} SOi
    %span{:style => "font-weight:300"} Farm
    %small Grow your business™
  %p= link_to 'Get started', new_user_registration_path, class: "btn btn-default btn-lg", role: "button"
