<div class="jumbotron">
  <h1><span style="font-weight:500">SOi</span><span style="font-weight:300">Farm</span> <small>Grow your business™</small></h1>
  
  <p><%= link_to 'Get started', new_user_registration_path, class: "btn btn-default btn-lg", role: "button" %></p>
</div>
