$brand-primary: #1D5E10;
$body-bg: #F7F3EA;
$link-hover-color: #1C5C76;
$navbar-default-bg: #F7F3EA;
$navbar-default-border: #F7F3EA;
$navbar-default-toggle-hover-bg: #F7F3EA;

@import "bootstrap";

body { padding-top: 20px; }

.collection {
	.resource {
		a.panel-body {
			display: block;
			height: 220px;
			.panel-title {
				color: #000;
				font-size: 19px;
			}
			.panel-description {
				color: #999;
				font-size: 12px;
			}
		}
		a.panel-body:hover {

			text-decoration: none;
		}
	}
}