@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

$html-bg: #F5EFE6;
$link-color: #000;
$link-hover-color: #1C5C76;
$sheet-bg: #FFF;
$card-bg: #FFF;

html {
	background: $html-bg;
}

body {
	font-family: "Lato","Helvetica Neue",helvetica,arial,sans-serif;
	font-size: 15px;
	line-height: 21px;
	margin: 0 40px 40px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

header {
	margin: 0 0 10px;
}

p {
	margin: 0 0 19px;
}

a {
	color: inherit;
	text-decoration: none;
	padding: 2px 0;
	-webkit-tap-highlight-color: rgba(0,0,0,0.25);
}

a:hover {
	color: $link-hover-color;
}

// BODY HEADER //
body > header {
	text-align: center;
	margin: 0 auto 10px auto;
	zoom: 1;
}

body > header > nav {
	zoom: 1;
	clear: both;
	position: relative;
	padding: 29px 0 20px 0;
	margin: 0 auto;
	max-width: 1040px;
	min-width: 985px;
}

body > header > nav:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

// Logo
body > header div.logo {
	position: absolute;
	top: 23px;
}

body > header div.logo > a {
	text-indent: -9000px;
	display: block;
	padding: 0;
	height: 41px;
	width: 138px;
	background: url(https://basecamp.global.ssl.fastly.net/assets/logos/bc_logo-ec81a6fe1135ede4709f833309889ebe.png) no-repeat center top;
}

// Global links
div.global_links {
	text-align: left;
	position: absolute;
	left: 148px;
	top: 34px;
	padding-left: 5px;
	border-left: 1px solid #DED7C8;
	text-shadow: 0 1px #FFF;
}

body > header div.global_links {
	opacity: 1.0;
}

div.global_links a {
	color: #7D7A75;
	font-size: 14px;
	text-align: left;
	display: inline-block;
	width: 67px;
	padding: 0;
	text-align: center;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	transition: color 0.2s;
}

body.topnav_root a.topnav_root,
body.topnav_tasks a.topnav_tasks,
body.topnav_timeline a.topnav_timeline {
	font-weight: bold;
	color: #000;
}

// Current User links
div.current_user {
	position: absolute;
	right: 3px;
	top: 4px;
}

div.current_user li {
	text-align: left;
	font-size: 11px;
	line-height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 4px;
	color: #7D7A75;
	text-shadow: 0 1px 1px #FFF;
}

div.current_user li > a {
	display: block;
}

// Jump-to search form
div.jumpto {
	position: relative;
	z-index: 999;
	width: 320px;
	float: right;
	margin: -1px 7px 0 0;
}

div.jumpto input[type=text] {
	position: relative;
	z-index: 2;
	width: 90%;
	font-family: inherit;
	font-size: 14px;
	border: none;
	outline: none;
	background: #FFF url(https://basecamp.global.ssl.fastly.net/assets/icons/icon_search-f1e3833a388a936e73647c7d614371f9.png) no-repeat 10px center;
	padding: 8px 10px 8px 28px;
	color: #444;
	-webkit-appearance: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

// WORKSPACE //
div.workspace {
	text-align: center;
	-webkit-transition: opacity 150ms 350ms ease-in;
	-moz-transition: opacity 150ms 350ms ease-in;
}

div.workspace > div.container {
	margin: 0 auto;
	width: 960px;
}

div.sheet {
	min-height: 480px;
	background: $sheet-bg;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.panel {
	position: relative;
	min-height: 614px;
	text-align: left;
}

// CARDS //
div.panel section.cards article.card {
	width: 210px;
	height: 235px;
	float: left;
	margin: 0 20px 20px 0;
	position: relative;
	text-align: left;
	background: $card-bg;
	padding: 15px;
	text-rendering: optimizeLegibility;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 6px rgba(0,0,0,0.3);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.panel section.cards article.card a {
	display: block;
	height: 100%;
}

div.panel section.cards a:hover {
	text-decoration: none;
}

div.panel section.cards article.card h5 {
	font-size: 19px;
	margin: 0 0 3px;
	line-height: 1.1em;
	word-wrap: break-word;
}

div.panel.home_tab section.cards a:hover h5 {
	color: #000;
}

div.panel.home_tab section.cards article.card p {
	font-size: 16px;
	line-height: 1.2em;
	word-wrap: break-word;
	color: #AA9C84;
}

div.panel.home_tab section.cards article.card p.description {
	margin-bottom: 5px;
}

div.panel.home_tab section.cards article.card p.updated_at {
	font-size: 12px;
}


// UTILITY //
.clear, footer, header {
	clear: both;
}

